.dark-background {
  background-color: black;
  }

.light-background {
  background-color: white;
  }

#walrus-showing {
  display: none;
}

#text-showing {
  display: none;
}

.clickable{
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

img {
  max-width: 70%;
}




