body {
  background-color: aliceblue;
  color: rgba(0, 0, 0, 0.842);
  }

.dark-background {
  background-color: rgba(0, 0, 0, 0.842);
  color: aliceblue;
  }

.light-background {
  background-color: aliceblue;
  color: rgba(0, 0, 0, 0.842);
  }

#walrus-showing {
  display: none;
}

#text-showing {
  display: none;
}

.clickable{
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

img {
  max-width: 70%;
}




